* {
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 100px;
}

h3{
  margin: 15px;
}

body {
  font-family: font72742;
  background-color: #4276b6;
}

button {
  font-family: font72742;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid white;
  color: white;
}

.quiz-card {
  margin: 0 auto 0 auto;
  padding: 15px;
  background-color: #fcd720;
  width: 640px;
  border: 5px solid #e30922;
  border-radius: 3px;
  box-shadow:0px 2px 6px rgba(0,0,0,1);
}

.answer {
  display: block;
  margin: 15px;
  background-color: white;
  padding: 15px;
  box-shadow:0px 2px 6px rgba(0,0,0,1);
}

.current-score{
  margin-left: 15px;
}

.hidden {
  display: none;
}

#start-quiz {
  background-color: green;
  text-align: center;
}

.txt-center{
  text-align: center;
}

#start-quiz-over {
  background-color: orangered;
  margin: 0 auto 0 auto;

}

#submit-answer {
  background-color: cornflowerblue;
  margin-left: 15px;
}

.popup-inner img {
  display: block;
  margin: 0 auto 0 auto;
  max-width:100%;
  max-height:100%;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

/*MOBILE STYLES*/
@media only screen and (max-width: 640px) {
  .quiz-card {
    width: 100%;
  }
  h1{
    margin-top: 20px;
  }
}